<!--HEADER-->
<% include partials/header %>
<!--HEADER-->

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome to Camp!</h1>
      <h4>View our many campgrounds picks</h4>
      </p><a href="/campgrounds/new" class="btn-lg btn-primary">Add New Campgrounds</a></p>
    </div>
  </header>

  <div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% campgrounds.forEach(function(camp){ %>
      <div class="col-md-4 col-sm-6"> 
        <div class="thumbnail">
          <img src="<%= camp.image%>" alt="<%= camp.name%>">
          <div class="caption">
            <h4><%= camp.name%></h4>
          </div>
        </div>
      </div>
    <% })%>
  </div>
</div>
<!--FOOTER-->
<% include partials/footer %>
<!--FOOTER-->